* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #db974a;
  font-family: "Quicksand", sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

body > header:first-of-type {
  position: relative;
  overflow: hidden;
  text-align: center;
  color: white;
  z-index: 5;
}

body > header:first-of-type::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 100px;
  width: 120%;
  border: 5px solid white;
  outline: 1px solid black;
  transform: translate(-50%, 50%);
  box-shadow: 0px 0px 0px 200px #dc4c48;
  border-radius: 50%;
  z-index: -1;
}

header:first-of-type,
h2 {
  padding: 1em 0.5em 0px;
  text-align: center;
  color: black;
}

h1 {
  font-family: "Merriweather", serif;
  color: black;
  font-size: 60pt;
  text-transform: uppercase;
}

span {
  display: inline-block;
  width: auto;
  animation-name: title-animation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}

h1:hover span {
  animation-play-state: running;
}

span:first-of-type {
  transform: translate(0px, -5px) rotate(-1deg);
  animation-delay: 0s;
}

span:nth-of-type(2) {
  transform: translate(0px, -7px) rotate(-1deg);
  animation-delay: 0.15s;
}

span:nth-of-type(3) {
  transform: translate(0px, -9px) rotate(-1deg);
  animation-delay: 0.3s;
}

span:nth-of-type(4) {
  transform: translate(0px, -10px) rotate(-1deg);
  animation-delay: 0.45s;
}

span:nth-of-type(5) {
  transform: translate(0px, -10px) rotate(-1deg);
  animation-delay: 0.6s;
}

span:nth-of-type(6) {
  transform: translate(0px, -11px) rotate(0deg);
  animation-delay: 0.75s;
}

span:nth-of-type(7) {
  transform: translate(0px, -11px) rotate(0deg);
  animation-delay: 0.9s;
}

span:nth-of-type(8) {
  transform: translate(0px, -11px) rotate(0deg);
  animation-delay: 1.05s;
}

span:nth-of-type(9) {
  transform: translate(0px, -11px) rotate(1deg);
  animation-delay: 1.2s;
}

span:nth-of-type(10) {
  transform: translate(0px, -10px) rotate(1deg);
  animation-delay: 1.35s;
}

span:nth-of-type(11) {
  transform: translate(0px, -9px) rotate(1deg);
  animation-delay: 1.5s;
}

span:nth-of-type(12) {
  transform: translate(0px, -8px) rotate(1deg);
  animation-delay: 1.65s;
}

span:nth-of-type(13) {
  transform: translate(0px, -7px) rotate(2deg);
  animation-delay: 1.8s;
}
span:nth-of-type(14) {
  transform: translate(0px, -7px) rotate(2deg);
  animation-delay: 1.95s;
}

/* https://codepen.io/shooft/pen/eYBdvey */
@keyframes title-animation {
  0% {
    color: black;
  }
  13% {
    color: red;
  }
  26% {
    color: orange;
  }
  39% {
    color: yellow;
  }
  52% {
    color: green;
  }
  65% {
    color: blue;
  }
  78% {
    color: purple;
  }
  91% {
    color: #f803fc;
  }
  100% {
    color: black;
  }
}

h1 + p {
  width: 10em;
  margin: 0 auto 0 auto;
  text-align: center;
  color: black;
  background: yellow;
  box-shadow: 0 0.125em 0.125em black;
}

main {
  display: grid;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 10em;
  top: -10em;
  padding-bottom: 10em;
}

/* Background stripes */
/* https://bootcamp.uxdesign.cc/use-css-gradients-for-background-gradient-images-dc98c2b7848a */
main::after,
main::before {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, transparent 50%, #4b9294 50%, #db974a),
    linear-gradient(82deg, transparent 50%, #4b9294 50%, #4b9294),
    linear-gradient(67deg, transparent 50%, #db974a 50%, #db974a),
    linear-gradient(52deg, transparent 50%, #4b9294 50%, #4b9294),
    linear-gradient(37deg, transparent 50%, #db974a 50%, #db974a),
    linear-gradient(22deg, transparent 50%, #4b9294 50%, #4b9294),
    linear-gradient(7deg, transparent 50%, #db974a 50%, #db974a),
    linear-gradient(-8deg, transparent 50%, #4b9294 50%, #4b9294),
    linear-gradient(-23deg, transparent 50%, #db974a 50%, #db974a),
    linear-gradient(-38deg, transparent 50%, #4b9294 50%, #4b9294),
    linear-gradient(-53deg, transparent 50%, #db974a 50%, #db974a),
    linear-gradient(-68deg, transparent 50%, #4b9294 50%, #4b9294),
    linear-gradient(-83deg, transparent 50%, #db974a 50%, #db974a),
    linear-gradient(-90deg, transparent 50%, #4b9294 50%, #4b9294);
  background-position: 0% 0%;
  background-size: 200% 100%;
  height: 100%;
  width: 50%;
  z-index: -1;
}

main::before {
  left: 50%;
  transform: rotate(180deg);
  z-index: -1;
}

section {
  margin: 1em;
  background-color: #dc4c48;
  border: 5px solid white;
  outline: 2px solid black;
  background-image: url(images/wave.png);
  background-repeat: no-repeat;
  background-size: 100% 10em;
  background-position: bottom;
  border-radius: 5%;
  padding: 0.5em;
  min-height: 30em;
  z-index: 0;
}

/* Capitalize first letters */
h2::first-letter,
p::first-letter,
dd::first-letter,
dt::first-letter {
  text-transform: capitalize;
}

h2 {
  font-family: "Yanone Kaffeesatz", sans-serif;
}

/* Blockquote banner */
/* https://codepen.io/shooft/pen/xxROeKW */
blockquote {
  position: relative;
  margin-top: 0.5em;
  width: 80%;
  margin: 1em auto 1em auto;
  margin-bottom: 1em;
  text-align: center;
  color: black;
  background: yellow;
  box-shadow: 0 0.125em 0.125em black;
}

blockquote p,
cite {
  z-index: 1;
}

blockquote p {
  color: black;
}

blockquote::after,
blockquote::before {
  content: "";
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  bottom: -0.5em;
  background-image: conic-gradient(
    from 45deg,
    transparent 0deg 90deg,
    yellow 90deg
  );

  filter: drop-shadow(0 0.125em 0.125em black);
  z-index: -1;
}

blockquote::after {
  right: -1.75em;
  transform: rotate(-5deg) translatez(-1em);
}

blockquote::before {
  left: -1.75em;
  transform: rotate(5deg) scalex(-1) translatez(-1em);
}

dl,
dd {
  color: black;
}

dl dd:nth-child(3n) {
  grid-column-start: 2;
  padding-left: 1em;
}

/* Add money sign */
dl dd:nth-child(3n)::before {
  content: "\20AC";
}

dt {
  font-size: 14pt;
  padding-top: 0.5em;
}

dl {
  display: grid;
  grid-template-columns: [first] 75% [line2] 25% [end];
  padding-top: 0.5em;
  padding-left: 1em;
  margin-bottom: 4em;
}

dd {
  grid-column-end: 2;
  padding-bottom: 0.5em;
}

/* Flower */
/* https://codepen.io/maximakymenko/pen/povexGY */
div {
  width: 360px;
  height: 120px;
  border-radius: 60px;
  background: #dc4c48;
  margin-top: 50px;
  place-self: center;
  margin-top: 8em;
  margin-bottom: 8em;
}

div::after,
div::before {
  content: "";
  position: absolute;
  background: #dc4c48;
  border-radius: 60px;
  width: 360px;
  height: 120px;
  transform: rotate(60deg);
}

div::before {
  transform: rotate(-60deg);
}

/* Flower animation on hover */
div:hover {
  animation: flower 10s infinite;
}

@keyframes flower {
  50% {
    transform: rotate(360deg);
  }
}

/* darkmode */
@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background: #121212;
  }

  body header:first-of-type::after {
    box-shadow: 0px 0px 0px 200px black;
  }

  h1 {
    color: white;
  }

  h1 + p {
    color: black;
  }

  main::after,
  main::before {
    content: "";
    position: absolute;
    background: linear-gradient(90deg, transparent 50%, black 50%, #6c6b6c),
      linear-gradient(82deg, transparent 50%, black 50%, black),
      linear-gradient(67deg, transparent 50%, #6c6b6c 50%, #6c6b6c),
      linear-gradient(52deg, transparent 50%, black 50%, black),
      linear-gradient(37deg, transparent 50%, #6c6b6c 50%, #6c6b6c),
      linear-gradient(22deg, transparent 50%, black 50%, black),
      linear-gradient(7deg, transparent 50%, #6c6b6c 50%, #6c6b6c),
      linear-gradient(-8deg, transparent 50%, black 50%, black),
      linear-gradient(-23deg, transparent 50%, #6c6b6c 50%, #6c6b6c),
      linear-gradient(-38deg, transparent 50%, black 50%, black),
      linear-gradient(-53deg, transparent 50%, #6c6b6c 50%, #6c6b6c),
      linear-gradient(-68deg, transparent 50%, black 50%, black),
      linear-gradient(-83deg, transparent 50%, #6c6b6c 50%, #6c6b6c),
      linear-gradient(-90deg, transparent 50%, black 50%, black);
    background-position: 0% 0%;
    background-size: 200% 100%;
    height: 100%;
    width: 50%;
    z-index: -1;
  }

  section {
    background-color: black;
  }

  dl,
  dd,
  h2,
  p {
    color: white;
  }

  div,
  div::after,
  div::before {
    background: lightgray;
  }

  @keyframes title-animation {
    0% {
      color: white;
    }
    13% {
      color: red;
    }
    26% {
      color: orange;
    }
    39% {
      color: yellow;
    }
    52% {
      color: green;
    }
    65% {
      color: blue;
    }
    78% {
      color: purple;
    }
    91% {
      color: #f803fc;
    }
    100% {
      color: white;
    }
  }
}

/* Make grid smaller when screen is smaller */
@media (min-width: 900px) {
  main {
    grid-template-columns: repeat(3, 33% [col-start]);
  }
}
@media (max-width: 900px) {
  main {
    grid-template-columns: repeat(2, 50% [col-start]);
  }
  dl {
    margin-bottom: 8em;
  }
  /* Don't show second flower on smaller screen */
  div:nth-of-type(2) {
    display: none;
  }
}
@media (max-width: 580px) {
  main {
    grid-template-columns: repeat(1, 100% [col-start]);
  }
  dl {
    margin-bottom: 10em;
  }
}
