* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #b7a4af;
  font-family: "Quicksand", sans-serif;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 33% [col-start]);
  justify-content: center;
}

section {
  margin: 1em;
}

dt {
  font-size: 14pt;
}

dl {
  display: grid;
  grid-template-columns: [first] 75% [line2] 25% [end];
}

dd {
  grid-column-start: 1;
  grid-column-end: 2;
  padding-bottom: 0.5em;
}

dl dd:nth-child(3n) {
  grid-column-start: 2;
  grid-column-end: 3;
}

dl dd:nth-child(3n)::before {
  content: "\20AC";
}

h1 {
  font-family: "Mrs Sheppards", cursive;
  color: #724a6cff;
  font-size: 60pt;
}

header:first-of-type,
h2 {
  /* background-color: pink; */
  text-align: center;
  padding: 0.5em;
  color: #724a6cff;
}

h2::first-letter,
dt::first-letter {
  text-transform: capitalize;
}

h2 {
  font-family: "Yanone Kaffeesatz", sans-serif;
}

p {
  color: black;
}
