* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #db974a;
  font-family: "Quicksand", sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  /* shape-outside: polygon(26.4% 7.21%, 25.89% -5.21%, 93.04% -2.39%); */
  display: grid;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 10em;
  top: -10em;
  padding-bottom: 10em;
}

main::after,
main::before {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, transparent 50%, #4b9294 50%, #db974a),
    linear-gradient(82deg, transparent 50%, #4b9294 50%, #4b9294),
    linear-gradient(67deg, transparent 50%, #db974a 50%, #db974a),
    linear-gradient(52deg, transparent 50%, #4b9294 50%, #4b9294),
    linear-gradient(37deg, transparent 50%, #db974a 50%, #db974a),
    linear-gradient(22deg, transparent 50%, #4b9294 50%, #4b9294),
    linear-gradient(7deg, transparent 50%, #db974a 50%, #db974a),
    linear-gradient(-8deg, transparent 50%, #4b9294 50%, #4b9294),
    linear-gradient(-23deg, transparent 50%, #db974a 50%, #db974a),
    linear-gradient(-38deg, transparent 50%, #4b9294 50%, #4b9294),
    linear-gradient(-53deg, transparent 50%, #db974a 50%, #db974a),
    linear-gradient(-68deg, transparent 50%, #4b9294 50%, #4b9294),
    linear-gradient(-83deg, transparent 50%, #db974a 50%, #db974a),
    linear-gradient(-90deg, transparent 50%, #4b9294 50%, #4b9294);
  background-position: 0% 0%;
  background-size: 200% 100%;
  height: 100%;
  width: 50%;
  z-index: -1;
}
main::before {
  left: 50%;
  transform: rotate(180deg);
  z-index: -1;
}

/* Make grid smaller when screen is smaller */
@media (min-width: 900px) {
  main {
    grid-template-columns: repeat(3, 33% [col-start]);
  }
}
@media (max-width: 900px) {
  main {
    grid-template-columns: repeat(2, 50% [col-start]);
  }
}
@media (max-width: 580px) {
  main {
    grid-template-columns: repeat(1, 100% [col-start]);
  }
}

/* https://bennettfeely.com/clippy/ */
section {
  margin: 1em;
  clip-path: polygon(
    50% 0%,
    100% 9%,
    100% 60%,
    100% 100%,
    0 100%,
    0% 60%,
    0 9%
  );
  background-color: #dc4c48;
  border: 5px solid white;
  outline: 2px solid black;
  background-image: url(images/wave.png);
  background-repeat: no-repeat;
  background-size: 100% 20%;
  background-position: bottom;
  border-radius: 5%;
  padding: 0.5em;
}

dl,
dd,
p {
  color: black;
}

h1 + p {
  color: black;
}

span:first-of-type {
  transform: translate(0px, -5px) rotate(-1deg);
}

span:nth-of-type(2) {
  transform: translate(0px, -7px) rotate(-1deg);
}

span:nth-of-type(3) {
  transform: translate(0px, -9px) rotate(-1deg);
}

span:nth-of-type(4) {
  transform: translate(0px, -10px) rotate(-1deg);
}

span:nth-of-type(5) {
  transform: translate(0px, -10px) rotate(-1deg);
}

span:nth-of-type(6) {
  transform: translate(0px, -11px) rotate(0deg);
}

span:nth-of-type(7) {
  transform: translate(0px, -11px) rotate(0deg);
}

span:nth-of-type(8) {
  transform: translate(0px, -11px) rotate(0deg);
}

span:nth-of-type(9) {
  transform: translate(0px, -11px) rotate(1deg);
}

span:nth-of-type(10) {
  transform: translate(0px, -10px) rotate(1deg);
}

span:nth-of-type(11) {
  transform: translate(0px, -9px) rotate(1deg);
}

span:nth-of-type(12) {
  transform: translate(0px, -8px) rotate(1deg);
}

span:nth-of-type(13) {
  transform: translate(0px, -7px) rotate(2deg);
}
span:nth-of-type(14) {
  transform: translate(0px, -7px) rotate(2deg);
}

span {
  display: inline-block;
}

dt {
  font-size: 14pt;
  padding-top: 0.5em;
}

dl {
  display: grid;
  grid-template-columns: [first] 75% [line2] 25% [end];
  padding-top: 0.5em;
  padding-left: 1em;
  margin-bottom: 4em;
}

dd {
  grid-column-start: 1;
  grid-column-end: 2;
  padding-bottom: 0.5em;
}

dl dd:nth-child(3n) {
  grid-column-start: 2;
  grid-column-end: 3;
}

dl dd:nth-child(3n)::before {
  content: "\20AC";
}

h1 {
  font-family: "Merriweather", serif;
  color: black;
  font-size: 60pt;
  text-transform: uppercase;
}

header:first-of-type,
h2 {
  padding: 1em 0.5em 0px;
  text-align: center;
  color: black;
}

/* Capitalize first letters */
h2::first-letter,
p::first-letter,
dd::first-letter,
dt::first-letter {
  text-transform: capitalize;
}

body > header:first-of-type {
  position: relative;
  overflow: hidden;
  text-align: center;
  color: white;
  z-index: 5;
}

body > header:first-of-type::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 100px;
  width: 120%;
  border: 5px solid white;
  outline: 1px solid black;
  transform: translate(-50%, 50%);
  box-shadow: 0px 0px 0px 200px #dc4c48;
  border-radius: 50%;
  z-index: -1;
}

h2 {
  font-family: "Yanone Kaffeesatz", sans-serif;
}

blockquote p {
  color: black;
}

/* Blockquote banner */
/* https://codepen.io/shooft/pen/xxROeKW */
blockquote {
  position: relative;
  margin-top: 0.5em;
  width: 80%;
  margin: 1em auto 1em auto;
  margin-bottom: 1em;
  text-align: center;
  color: black;
  background: yellow;
  box-shadow: 0 0.125em 0.125em black;
}

blockquote::after,
blockquote::before {
  content: "";
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  bottom: -0.5em;
  background-image: conic-gradient(
    from 45deg,
    transparent 0deg 90deg,
    yellow 90deg
  );

  filter: drop-shadow(0 0.125em 0.125em black);
  z-index: -1;
}

blockquote::after {
  right: -1.75em;
  transform: rotate(-5deg) translatez(-1em);
}

blockquote::before {
  left: -1.75em;
  transform: rotate(5deg) scalex(-1) translatez(-1em);
}

/* darkmode */
/* @media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background: #121212;
  }
  p,
  dl,
  dd {
    color: white;
  }
  h1 + p {
    color: white;
  }
  section {
    background-color: black;
  }

  main::after,
  main::before {
    content: "";
    position: absolute;
    background: linear-gradient(90deg, transparent 50%, black 50%, white),
      linear-gradient(82deg, transparent 50%, black 50%, black),
      linear-gradient(67deg, transparent 50%, white 50%, white),
      linear-gradient(52deg, transparent 50%, black 50%, black),
      linear-gradient(37deg, transparent 50%, white 50%, white),
      linear-gradient(22deg, transparent 50%, black 50%, black),
      linear-gradient(7deg, transparent 50%, white 50%, white),
      linear-gradient(-8deg, transparent 50%, black 50%, black),
      linear-gradient(-23deg, transparent 50%, white 50%, white),
      linear-gradient(-38deg, transparent 50%, black 50%, black),
      linear-gradient(-53deg, transparent 50%, white 50%, white),
      linear-gradient(-68deg, transparent 50%, black 50%, black),
      linear-gradient(-83deg, transparent 50%, white 50%, white),
      linear-gradient(-90deg, transparent 50%, black 50%, black);
    background-position: 0% 0%;
    background-size: 200% 100%;
    height: 100%;
    width: 50%;
    z-index: -1;
  }

  body > header:first-of-type::after {
    box-shadow: 0px 0px 0px 200px white;
  }
} */

/* Flower */
/* https://codepen.io/maximakymenko/pen/povexGY */
div {
  width: 360px;
  height: 120px;
  border-radius: 60px;
  background: #dc4c48;
  margin-top: 50px;
  place-self: center;
  margin-top: 8em;
  margin-bottom: 8em;
}

div::after,
div::before {
  content: "";
  position: absolute;
  background: #dc4c48;
  border-radius: 60px;
  width: 360px;
  height: 120px;
  transform: rotate(60deg);
}

div::before {
  transform: rotate(-60deg);
}

/* Flower animation on hover */
div:hover {
  animation: flower 10s infinite;
}

@keyframes flower {
  50% {
    transform: rotate(360deg);
  }
}

/* footer {
  width: 200%;
  height: 100%;
  background-image: url(images/wave.png);
} */

/* YAY */
@keyframes yay-animation {
  0% {
    transform: none;
  }
  10% {
    transform: scale(1.2, 0.8);
  }
  20% {
    transform: scale(0.6, 1.5) translateY(-0.25em);
    color: yellow;
  }
  30% {
    transform: scale(1.3, 0.7);
  }
  40% {
    transform: scale(0.9, 1.1);
    /*     color:gold; */
  }
  50% {
    transform: none;
  }
  75% {
    /*     color:gold; */
  }
  100% {
    transform: none;
    color: black;
  }
}

/* h1 span {
  width: auto;
  transform-origin: center bottom;
  animation-name: yay-animation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}

h1 span:nth-of-type(1) {
  animation-delay: 0s;
}

h1 span:nth-of-type(2) {
  animation-delay: 0.15s;
}

h1 span:nth-of-type(3) {
  animation-delay: 0.3s;
}
h1 span:nth-of-type(4) {
  animation-delay: 0.45s;
}

h1 span:nth-of-type(5) {
  animation-delay: 0.6s;
}

h1 span:nth-of-type(6) {
  animation-delay: 0.75s;
}
h1 span:nth-of-type(7) {
  animation-delay: 0.9s;
}

h1 span:nth-of-type(8) {
  animation-delay: 1.05s;
}

h1 span:nth-of-type(9) {
  animation-delay: 1.2s;
}
h1 span:nth-of-type(10) {
  animation-delay: 1.35s;
}
h1 span:nth-of-type(11) {
  animation-delay: 1.5s;
}

h1 span:nth-of-type(12) {
  animation-delay: 1.65s;
}

h1 span:nth-of-type(13) {
  animation-delay: 1.8s;
}

h1 span:nth-of-type(14) {
  animation-delay: 1.95s;
}

h1:hover span {
  animation-play-state: running;
} */
