/* --- Colors --- */

:root {
  --orange: #db974a;
  --blue: #4b9294;
  --red: #dc4c48;
}

/* --- Reset Styling --- */

* {
  padding: 0;
  margin: 0;
}

/* --- Body Styling --- */

body {
  background-color: #db974a;
  font-family: "Quicksand", sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  margin: 0;
  background-image: radial-gradient(
      circle at 50% 75%,
      #db974a 15%,
      transparent 15%
    ),
    repeating-conic-gradient(
      at 50% 76%,
      var(--orange) 0% 5%,
      var(--blue) 5% 10%
    );
}

body::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image: repeating-linear-gradient(
      black 2px,
      transparent 2px calc(1em - 4px),
      black calc(1em - 4px) calc(1em - 2px)
    ),
    repeating-linear-gradient(
      black 2px,
      transparent 2px calc(1em - 4px),
      black calc(1em - 4px) calc(1em - 2px)
    ),
    repeating-linear-gradient(
      to right,
      black 2px,
      transparent 2px calc(1em - 4px),
      black calc(1em - 4px) calc(1em - 2px)
    ),
    repeating-linear-gradient(
      to right,
      black 2px,
      transparent 2px calc(1em - 4px),
      black calc(1em - 4px) calc(1em - 2px)
    );

  background-position: center calc(0.5em + 2px), center calc(100% - 0.5em - 2px),
    calc(0.5em + 2px) center, calc(100% - 0.5em - 2px) center;

  background-size: calc(100% - 1em - 4px) calc(1em - 2px),
    calc(100% - 1em - 4px) calc(1em - 2px),
    calc(1em - 2px) calc(100% - 1em - 4px),
    calc(1em - 2px) calc(100% - 1em - 4px);

  background-repeat: no-repeat;
}

/* --- Header Styling --- */

header {
  margin: 0 auto;
  width: calc(100% - 4.5em - 2px);
  margin-top: 1.5em;
  padding: 1em 0.5em 0px;
  height: 7.5em;
  background: repeating-conic-gradient(
        at 100% 76%,
        var(--blue) 0% 5%,
        var(--orange) 5% 10%
      )
      right,
    repeating-conic-gradient(at 0% 76%, var(--orange) 0% 5%, var(--blue) 5% 10%)
      left;
  background-size: 50% 9em;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  z-index: 5;
}

header:after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 100px;
  width: 120%;
  border: 5px solid white;
  outline: 1px solid black;
  transform: translate(-50%, 50%);

  border-radius: 50%;
  z-index: 2;
}

/* --- Main Styling --- */

main::before {
  left: 50%;
  transform: rotate(180deg);
  z-index: -1;
}

main {
  display: grid;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 99%;
  padding-bottom: 3em;
}

section {
  background-color: var(--red);
  background-image: url(../images/wave.png);
  background-repeat: no-repeat;
  background-size: 100% 10em;
  background-position: bottom;
  padding: 0.5em;
  min-height: 55em;
  z-index: 0;
  max-width: 100%;
  position: relative;
  opacity: 0.4;
  height: 100%;
}

/* --- Menu Styling --- */

/* https://codepen.io/littlesnippets/pen/NGdoKP */
.menu {
  position: relative;
  overflow: hidden;
  margin: 1em;
  min-width: 220px;
  box-shadow: 0 0 0 2px black, 0 0 0 7px white, 0 0 0 9px black;
}

.menu * {
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;
}

.menu div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.menu h2,
.menu div p {
  position: absolute;
  left: 40px;
  right: 40px;
  display: inline-block;
  background: yellow;
  transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  padding: 12px 5px;
  margin: 0;
  top: 50%;
  text-transform: uppercase;
  font-weight: 400;
  color: black;
}

.menu div p {
  top: 58%;
}

.menu:before {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: "";
  background: var(--orange);
  position: absolute;
  transition: all 0.3s ease-in-out;
  transform: rotate(110deg) translateY(-50%);
  z-index: 1;
}

.menu {
  background: var(--blue);
}

.menu:hover h2,
.menu:hover div p {
  transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
}

.menu:hover:before {
  transform: rotate(110deg) translateY(-150%);
}

.menu:hover section {
  opacity: 1;
}

dl,
dd {
  color: black;
}

dl dd:nth-child(3n) {
  grid-column-start: 2;
  padding-left: 1em;
}

/* Add euro sign */
dl dd:nth-child(3n)::before {
  content: "\20AC";
}

dt {
  font-size: 14pt;
  padding-top: 0.5em;
}

dl {
  display: grid;
  grid-template-columns: [first] 75% [line2] 25% [end];
  padding-top: 0.5em;
  padding-left: 1em;
  margin-bottom: 4em;
}

dd {
  grid-column-end: 2;
  padding-bottom: 0.5em;
}

h2,
p {
  padding: 1em 0.5em 0px;
  text-align: center;
  color: black;
}

/* --- Title Styling --- */

h1 {
  font-family: "Merriweather", serif;
  color: black;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;
  font-size: 60pt;
  text-transform: uppercase;
}

span {
  display: inline-block;
  width: auto;
  animation-name: title-animation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}

h1:hover span {
  animation-play-state: running;
}

span:first-of-type {
  transform: translate(0px, -5px) rotate(-1deg);
  animation-delay: 0s;
}

span:nth-of-type(2) {
  transform: translate(0px, -7px) rotate(-1deg);
  animation-delay: -0.15s;
}

span:nth-of-type(3) {
  transform: translate(0px, -9px) rotate(-1deg);
  animation-delay: -0.3s;
}

span:nth-of-type(4) {
  transform: translate(0px, -10px) rotate(-1deg);
  animation-delay: -0.45s;
}

span:nth-of-type(5) {
  transform: translate(0px, -10px) rotate(-1deg);
  animation-delay: -0.6s;
}

span:nth-of-type(6) {
  transform: translate(0px, -11px) rotate(0deg);
  animation-delay: -0.75s;
}

span:nth-of-type(7) {
  transform: translate(0px, -11px) rotate(0deg);
  animation-delay: -0.9s;
}

span:nth-of-type(8) {
  transform: translate(0px, -11px) rotate(0deg);
  animation-delay: -1.05s;
}

span:nth-of-type(9) {
  transform: translate(0px, -11px) rotate(1deg);
  animation-delay: -1.2s;
}

span:nth-of-type(10) {
  transform: translate(0px, -10px) rotate(1deg);
  animation-delay: -1.35s;
}

span:nth-of-type(11) {
  transform: translate(0px, -9px) rotate(1deg);
  animation-delay: -1.5s;
}

span:nth-of-type(12) {
  transform: translate(0px, -8px) rotate(1deg);
  animation-delay: -1.65s;
}

span:nth-of-type(13) {
  transform: translate(0px, -7px) rotate(2deg);
  animation-delay: -1.8s;
}
span:nth-of-type(14) {
  transform: translate(0px, -7px) rotate(2deg);
  animation-delay: -1.95s;
}

/* Title rainbow animation */
/* https://codepen.io/shooft/pen/eYBdvey */
@keyframes title-animation {
  0% {
    color: black;
  }
  13% {
    color: red;
  }
  26% {
    color: orange;
  }
  39% {
    color: yellow;
  }
  52% {
    color: green;
  }
  65% {
    color: blue;
  }
  78% {
    color: purple;
  }
  91% {
    color: #f803fc;
  }
  100% {
    color: black;
  }
}

h1 + p {
  width: 10em;
  margin: 5.5em auto 0 auto;
  text-align: center;
  padding: 0.2em;
  color: black;
  background: yellow;
  box-shadow: 0 0.125em 0.125em black;
}

/* Capitalize first letters */
h2::first-letter,
p::first-letter,
dd::first-letter,
dt::first-letter {
  text-transform: capitalize;
}

h2 {
  font-family: "Yanone Kaffeesatz", sans-serif;
}

/* --- Blockquote Styling --- */

/* https://codepen.io/shooft/pen/xxROeKW */
blockquote {
  position: relative;
  margin-top: 0.5em;
  width: 80%;
  margin: 1em auto 1em auto;
  margin-bottom: 1em;
  text-align: center;
  color: black;
  background: yellow;
  box-shadow: 0 0.125em 0.125em black;
}

blockquote p,
cite {
  z-index: 1;
}

blockquote p {
  color: black;
}

blockquote::after,
blockquote::before {
  content: "";
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  bottom: -0.5em;
  background-image: conic-gradient(
    from 45deg,
    transparent 0deg 90deg,
    yellow 90deg
  );

  filter: drop-shadow(0 0.125em 0.125em black);
  z-index: -1;
}

blockquote::after {
  right: -1.75em;
  transform: rotate(-5deg) translatez(-1em);
}

blockquote::before {
  left: -1.75em;
  transform: rotate(5deg) scalex(-1) translatez(-1em);
}

/* --- Flower Styling --- */

/* https://codepen.io/maximakymenko/pen/povexGY */
.flower {
  width: 360px;
  height: 120px;
  border-radius: 60px;
  background: #dc4c48;
  place-self: center;
  margin-top: 8em;
  margin-bottom: 8em;
}

.flower::after,
.flower::before {
  content: "";
  position: absolute;
  background: #dc4c48;
  border-radius: 60px;
  width: 360px;
  height: 120px;
  transform: rotate(60deg);
}

.flower::before {
  transform: rotate(-60deg);
}

/* Flower animation on hover */
.flower:hover {
  animation: flower 10s infinite;
}

@keyframes flower {
  50% {
    transform: rotate(360deg);
  }
}

/* --- Darkmode --- */

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background: #121212;

    background-image: radial-gradient(
        circle at 50% 75%,
        #6c6b6c 15%,
        transparent 15%
      ),
      repeating-conic-gradient(at 50% 76%, #6c6b6c 0% 5%, black 5% 10%);
  }

  body::before {
    background-image: repeating-linear-gradient(
        white 2px,
        transparent 2px calc(1em - 4px),
        white calc(1em - 4px) calc(1em - 2px)
      ),
      repeating-linear-gradient(
        white 2px,
        transparent 2px calc(1em - 4px),
        white calc(1em - 4px) calc(1em - 2px)
      ),
      repeating-linear-gradient(
        to right,
        white 2px,
        transparent 2px calc(1em - 4px),
        white calc(1em - 4px) calc(1em - 2px)
      ),
      repeating-linear-gradient(
        to right,
        white 2px,
        transparent 2px calc(1em - 4px),
        white calc(1em - 4px) calc(1em - 2px)
      );
  }

  header {
    background: repeating-conic-gradient(
          at 100% 76%,
          black 0% 5%,
          #6c6b6c 5% 10%
        )
        right,
      repeating-conic-gradient(at 0% 76%, #6c6b6c 0% 5%, black 5% 10%) left;

    background-size: 50% 9em;
    background-repeat: no-repeat;
  }

  section {
    background-color: black;
  }

  dl,
  dd,
  h2,
  p {
    color: white;
  }

  .flower,
  .flower::after,
  .flower::before {
    background: lightgray;
  }

  @keyframes title-animation {
    0% {
      color: white;
    }
    13% {
      color: red;
    }
    26% {
      color: orange;
    }
    39% {
      color: yellow;
    }
    52% {
      color: green;
    }
    65% {
      color: blue;
    }
    78% {
      color: purple;
    }
    91% {
      color: #f803fc;
    }
    100% {
      color: white;
    }
  }
}

/* --- Smaller screens --- */

@media (min-width: 900px) {
  main {
    grid-template-columns: repeat(3, 32% [col-start]);
    padding-bottom: 2em;
  }
}
@media (max-width: 900px) {
  main {
    grid-template-columns: repeat(2, 47% [col-start]);
  }

  header {
    height: 5.5em;
    background-size: 50% 7em;
  }

  h1 {
    font-size: 38pt;
  }

  h1 + p {
    margin: 2.2em auto 0 auto;
  }
  dl {
    margin-bottom: 8em;
  }
  /* Don't show flowers on smaller screen */
  .flower {
    display: none;
  }
}
@media (max-width: 580px) {
  main {
    grid-template-columns: repeat(1, 89% [col-start]);
  }

  header {
    height: 4.5em;
  }

  h1 {
    font-size: 24pt;
  }

  dl {
    margin-bottom: 10em;
  }

  span:first-of-type {
    transform: translate(0px, -4px) rotate(-9deg);
  }
  span:nth-of-type(12) {
    transform: translate(0px, -7px) rotate(6deg);
  }
  span:nth-of-type(13) {
    transform: translate(0px, -5px) rotate(5deg);
  }
  span:nth-of-type(14) {
    transform: translate(0px, -2px) rotate(5deg);
  }
}

@media (max-width: 420px) {
  header {
    height: 4.2em;
    background-size: 50% 5em;
  }
  h1 {
    font-size: 21pt;
  }
}
